/* .md-nav__title {
  display: none;
} */

/* .md-nav--primary .md-nav__title {
  background: none;
  box-shadow: none;
} */

.md-sidebar--primary .md-nav__list .md-nav__item {
  font-size: 0.65rem !important;
}

.md-sidebar--secondary .md-nav__list .md-nav__item {
  font-size: 0.65rem !important;
}

.md-sidebar--secondary {
  color: var(--app-sidebar-sec-text-color);
}

li nav {
  margin-left: 0.1rem !important;
}

.md-sidebar--primary .md-sidebar__scrollwrap {
  border-radius: 0.3rem;
}

@media screen and (min-width: 76.25em) {
  nav.md-nav > ul.md-nav__list > li:not(:first-child) > label.md-nav__link {
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__title {
    height: initial;
    line-height: initial;
    padding: 2.5rem 0.8rem 0.2rem;
  }
}

.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg {
  height: 1.3rem;
}

li.md-nav__item--nested label {
  font-weight: bold !important;
}

.md-nav__link--active {
  position: relative;
}

.md-nav__link--active::before {
  content: "";
  position: absolute;
  left: -14px;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: var(--md-typeset-a-color);
  z-index: 10;
}

.md-sidebar--secondary .md-nav__item .md-nav .md-nav__link--active::before {
  left: -29px;
}

.md-sidebar--primary .md-nav__link--active::before {
  left: -28px;
}

/* Light mode */
[data-md-color-scheme="default"] {
  .md-sidebar--primary .md-sidebar__scrollwrap {
    background-color: #f9f9f9;
  }
  .md-nav--secondary {
    border-left: 1px solid #ddd;
  }
}

/* Dark mode */
[data-md-color-scheme="slate"] {
  .md-sidebar--primary .md-sidebar__scrollwrap {
    background-color: hsla(var(--md-hue), 15%, 9%, 1);
  }
  .md-nav--secondary {
    border-left: 1px solid #445;
  }
}
